<?xml version="1.0"?>
<config>
    <modules>
        <Iurco_Cruzdelsur>
            <version>0.2.3</version>
        </Iurco_Cruzdelsur>
    </modules>
    <global>
        <helpers>
            <cruzdelsur>
                <class>Iurco_Cruzdelsur_Helper</class>
            </cruzdelsur>
        </helpers>
        <blocks>
            <cruzdelsur>
                <class>Iurco_Cruzdelsur_Block</class>
            </cruzdelsur>
        </blocks>
        <models>
            <cruzdelsur>
                <class>Iurco_Cruzdelsur_Model</class>
                <resourceModel>cruzdelsur_resource</resourceModel>
            </cruzdelsur>
            <cruzdelsur_resource>
                <class>Iurco_Cruzdelsur_Model_Resource</class>
                <entities>
                    <order>
                        <table>cruzdelsur_order</table>
                    </order>
                </entities>
            </cruzdelsur_resource>
        </models>
        <resources>
            <cruzdelsur_setup>
                <setup>
                    <module>Iurco_Cruzdelsur</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </cruzdelsur_setup>
            <cruzdelsur_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </cruzdelsur_write>
            <cruzdelsur_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </cruzdelsur_read>
        </resources>
        <fieldsets>
            <sales_copy_order_billing_address>
                <dni>
                    <to_order>*</to_order>
                </dni>
            </sales_copy_order_billing_address>
            <sales_copy_order_shipping_address>
                <dni>
                    <to_order>*</to_order>
                </dni>
            </sales_copy_order_shipping_address>
            <sales_convert_quote_address>
                <dni>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </dni>
            </sales_convert_quote_address>
            <sales_convert_order_address>
                <dni>
                    <to_quote_address>*</to_quote_address>
                </dni>
            </sales_convert_order_address>
            <customer_address>
                <dni>
                    <to_quote_address>*</to_quote_address>
                </dni>
            </customer_address>
            <checkout_onepage_billing>
                <dni>
                    <to_customer>*</to_customer>
                </dni>
            </checkout_onepage_billing>
        </fieldsets>
        <events>
            <sales_order_place_after>
                <observers>
                    <cruzdelsur_order_success>
                        <type>singleton</type>
                        <class>cruzdelsur/observer</class>
                        <method>saveCarrierEstimation</method>
                    </cruzdelsur_order_success>
                </observers>
            </sales_order_place_after>

            <sales_order_shipment_save_before>
                <observers>
                    <cruzdelsur>
                        <type>singleton</type>
                        <class>cruzdelsur/observer</class>
                        <method>processCarrierDispatch</method>
                    </cruzdelsur>
                </observers>
            </sales_order_shipment_save_before>
            <sales_order_save_after>
                <observers>
                    <cruzdelsur_disable_canceled_orders>
                        <type>singleton</type>
                        <class>cruzdelsur/observer</class>
                        <method>disableCanceledOrders</method>
                    </cruzdelsur_disable_canceled_orders>
                    <cruzdelsur_reenabled_canceled_orders>
                        <type>singleton</type>
                        <class>cruzdelsur/observer</class>
                        <method>enableCanceledOrders</method>
                    </cruzdelsur_reenabled_canceled_orders>
                </observers>
            </sales_order_save_after>
        </events>
    </global>
    <frontend>
        <routers>
            <cruzdelsur>
                <use>standard</use>
                <args>
                    <module>Iurco_Cruzdelsur</module>
                    <frontName>cruzdelsur</frontName>
                </args>
            </cruzdelsur>
        </routers>
        <events>
            <checkout_controller_onepage_save_shipping_method>
                <observers>
                    <cruzdelsur_onepage_save_shipping>
                        <class>Iurco_Cruzdelsur_Model_Observer</class>
                        <method>saveShippingOnePage</method>
                    </cruzdelsur_onepage_save_shipping>
                </observers>
            </checkout_controller_onepage_save_shipping_method>
            <controller_action_predispatch_checkout_onepage_saveShippingMethod>
                <observers>
                    <cruzdelsur_saveShippingMethod_set_shipping_amount>
                        <class>Iurco_Cruzdelsur_Model_Observer</class>
                        <method>saveShippingMethodSetShippingAmount</method>
                    </cruzdelsur_saveShippingMethod_set_shipping_amount>
                </observers>
            </controller_action_predispatch_checkout_onepage_saveShippingMethod>

            <controller_action_postdispatch_checkout_cart_estimateUpdatePost>
                <observers>
                    <cruzdelsur_estimateUpdatePost_set_shipping_amount>
                        <class>Iurco_Cruzdelsur_Model_Observer</class>
                        <method>estimateUpdatePostSetShippingAmount</method>
                    </cruzdelsur_estimateUpdatePost_set_shipping_amount>
                </observers>
            </controller_action_postdispatch_checkout_cart_estimateUpdatePost>
            <controller_action_postdispatch_checkout_cart_estimatePost>
                <observers>
                    <curzdelsur_estimatePost_set_shipping_amount>
                        <class>Iurco_Cruzdelsur_Model_Observer</class>
                        <method>estimatePostSetShippingAmount</method>
                    </curzdelsur_estimatePost_set_shipping_amount>
                </observers>
            </controller_action_postdispatch_checkout_cart_estimatePost>

            <sales_order_place_after>
                <observers>
                    <cruzdelsur_clearnup_session>
                        <class>Iurco_Cruzdelsur_Model_Observer</class>
                        <method>cleanUpSessionData</method>
                    </cruzdelsur_clearnup_session>
                </observers>
            </sales_order_place_after>

            <sales_quote_collect_totals_before>
                <observers>
                    <cruzdelsur_collect_totals>
                        <class>Iurco_Cruzdelsur_Model_Observer</class>
                        <method>salesQuoteCollectTotalsBefore</method>
                    </cruzdelsur_collect_totals>
                </observers>
            </sales_quote_collect_totals_before>
        </events>
        <layout>
            <updates>
                <cruzdelsur>
                    <file>cruzdelsur.xml</file>
                </cruzdelsur>
            </updates>
        </layout>
        <translate>
            <modules>
                <cruzdelsur>
                    <files>
                        <default>Iurco_Cruzdelsur.csv</default>
                    </files>
                </cruzdelsur>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <cruzdelsur before="Mage_Adminhtml">Iurco_Cruzdelsur_Adminhtml</cruzdelsur>
                    </modules>
                </args>
            </adminhtml>
            <cruzdelsur>
                <use>admin</use>
                <args>
                    <module>Iurco_Cruzdelsur</module>
                    <frontName>cruzdelsur</frontName>
                </args>
            </cruzdelsur>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <cruzdelsur>
                    <files>
                        <default>Iurco_Cruzdelsur.csv</default>
                    </files>
                </cruzdelsur>
            </modules>
        </translate>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <sales>
                            <children>
                                <cruzdelsur translate="title" module="cruzdelsur">
                                    <title>Cruz del Sur</title>
                                    <sort_order>1000</sort_order>
                                    <children>
                                        <pedidos translate="title">
                                            <title>Cruz del Sur</title>
                                        </pedidos>
                                    </children>
                                </cruzdelsur>
                            </children>
                        </sales>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <crontab>
        <jobs>
            <cruzdelsur_tracking_lookup>
                <schedule>
                    <cron_expr>0 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>cruzdelsur/cron::bulkImportTrackingCodes</model>
                </run>
            </cruzdelsur_tracking_lookup>
            <cruzdelsur_order_dispatch>
                <schedule>
                    <cron_expr>*/15 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>cruzdelsur/cron::bulkDispatchOnOrderStatus</model>
                </run>
            </cruzdelsur_order_dispatch>
        </jobs>
    </crontab>
    <default>
        <carriers>
            <cruzdelsur>
                <active>1</active>
                <log>1</log>
                <sandbox_mode>1</sandbox_mode>
                <model>cruzdelsur/carrier_cruzdelsur</model>
                <title>Cruz del Sur</title>
                <max_weight>1</max_weight>
                <recipient_information>order</recipient_information>
                <attribute_document_number_config_type>separated</attribute_document_number_config_type>
                <attribute_document_number_code>taxvat</attribute_document_number_code>
                <guest_attribute_document_entity>sales_flat_order</guest_attribute_document_entity>
                <guest_attribute_document_code>customer_taxvat</guest_attribute_document_code>
                <dispatch_mode>1</dispatch_mode>
                <email_notification_on_shipment>1</email_notification_on_shipment>
                <email_notification_on_tracking_code>1</email_notification_on_tracking_code>
                <limit>100</limit>
                <status_to_apply_after_trackingcode>processing</status_to_apply_after_trackingcode>
                <status_to_reenabled_orders>pending_payment</status_to_reenabled_orders>
            </cruzdelsur>
        </carriers>
    </default>
</config>
